/* Variables */
/* Layout */
html {
  background: #31353c url(/sites/all/themes/cato/styles/images/bg-texture.png);
  overflow-y: scroll; }

body {
  background: #31353c; }

#multimedia, #explainer {
  padding: 25px;
  background: #FFF; }

.pagemenu {
  margin-left: 230px; }

.border-left {
  border-left: 1px dotted #999999; }

.border-right {
  border-right: 1px dotted #999999; }

.blogroll {
  list-style-type: none; }

.blogroll li {
  margin: 10px 0; }

.blogroll li:before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1.2em;
  position: relative; }

/* text */
p {
  margin-bottom: 1em;
  padding-left: 0; }

.body-text {
  color: #222;
  font: 1.23077em/28px "DroidSerif", Georgia, Times, Times New Roman, serif; }

.tl-timegroup .tl-timegroup-message {
  color: #222;
  font-family: 'Playfair Display',serif; }

/* Columns and responsive stuff */
[class*='col-'], .col-1, .col-2, .col-3 {
  float: left;
  min-height: 1px;
  padding: 25px; }

.col-1 {
  width: 33.33333%; }
  @media screen and (max-width: 767px) {
    .col-1 {
      width: 100%; } }

.col-2 {
  width: 66.66666%; }
  @media screen and (max-width: 767px) {
    .col-2 {
      width: 100%; } }

.col-3 {
  width: 100%; }
  @media screen and (max-width: 767px) {
    .col-3 {
      width: 100%; } }

.clearfix {
  content: "";
  display: table;
  clear: both; }
  .clearfix:after {
    content: " ";
    /* Older browsers do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  @media screen and (max-width: 767px) {
    .clearfix {
      display: inline-block; } }

/* Footer styles */
.main-footer {
  padding: 10px;
  color: #ccc;
  background: #31353c url(/sites/all/themes/cato/styles/images/bg-texture.png) !important; }

/*# sourceMappingURL=style.css.map */
