/* Variables */

$background: #31353c;
$background-img: #31353c url(/sites/all/themes/cato/styles/images/bg-texture.png);
$grey: #ccc;
$dark: #222;

$bodytext: 1.23077em/28px "DroidSerif",Georgia,Times,Times New Roman,serif;


/* Layout */

html {
	background: $background-img;
	overflow-y: scroll;
}

body {
	background: $background;
}

#multimedia, #explainer {
	padding: 25px;
	background: #FFF;
}

.pagemenu { margin-left: 230px; }
.border-left {
	border-left: 1px dotted rgb(153, 153, 153);
}
.border-right {
	border-right: 1px dotted rgb(153, 153, 153);
}
.blogroll {
	list-style-type: none;
}
.blogroll li {
	margin: 10px 0;
}
.blogroll li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.2em;
    position: relative;
}

/* text */

p {
	margin-bottom: 1em;
	padding-left: 0;
}

.body-text{
	color: $dark;
	font: $bodytext;
}

.tl-timegroup .tl-timegroup-message {
	color: $dark;
	font-family: 'Playfair Display',serif;
}

/* Columns and responsive stuff */
[class*='col-']{
	float: left;
	min-height: 1px;
	padding: 25px;
}

.col-1 {
	@extend [class*='col-'];
	width: 33.33333%;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}

.col-2 {
	@extend [class*='col-'];
	width: 66.66666%;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}

.col-3 {
	@extend [class*='col-'];
	width: 100%;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}

.clearfix {
	content: "";
  	display: table;
  	clear: both;
  	&:after {
  		content: " "; /* Older browsers do not support empty content */
   	visibility: hidden;
   	display: block;
   	height: 0;
   	clear: both;
  	}
  	@media screen and (max-width: 767px){
  		display: inline-block;
  	}
}

/* Footer styles */

.main-footer {
	padding: 10px;
	color: #ccc;
	background: $background-img !important;
}